/* GLOBAL SETTINGS */

:root {
    --white: hsl(0, 0%, 100%);
    --gap-m: 4rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--white);
    background-color: hsl(0, 0%, 0%);
    font-family: 'Satoshi', sans-serif;
}

section {

}

/* TYPOGRAPHY */

@font-face {
    font-family: 'Satoshi';
    src: url("fonts/Satoshi-Variable.ttf");
}

p, a {
    font-size: 2rem;
}

a {
    color: var(--white);
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap-m);
}
header img:first-of-type {
    width: 7rem;
}

header ul {
    list-style: none;
    display: flex;
    gap: var(--gap-m);
}

header a {
    position: relative;
    text-decoration: none;
    font-weight: 700;
    
}

header a::after {
    content: '';
    height: 1px;
    width: 0%;
    background-color: var(--white);
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: all .3s ease-in-out;
}

header a:hover::after {
    width: 100%;
}